<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AvBy" parallel="tests" thread-count="1">
    <test name="test">
        <classes>
            <class name="avby.tests.RegInvalidName"/>
            <class name="avby.tests.RegInvalidMail"/>
            <class name="avby.tests.RegInvalidPassword"/>
            <class name="avby.tests.RegSuccessful"/>
            <class name="avby.tests.AutoReview"/>
            <class name="avby.tests.CarSearch"/>
            <class name="avby.tests.CreatingAnAd"/>
        </classes>
    </test>
</suite>